<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register page</title>
</head>
<body>
    <form action="/register" method="POST">
        <p>Username : <input style="width:200px; height:20px;" type="text" name="name"></p>
        <p>Password : <input style="width:200px; height:20px;" type="password" name="pwd"></p>
        <p>Password Confirm : <input style="width:200px; height:20px;" type="password" name="pwdconf"></p>
        <input style="width:100px; height:20px"type="submit" value="Register">
    </form>
</body>
</html>